<html>

<head>
    <title>SNARKON: {{ aws_bucket }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .success {
            background-color: green;
            color: white;
            padding: 10px;
            width: 50%;
        }

        .error {
            background-color: rgb(146, 7, 7);
            color: white;
            padding: 10px;
            width: 50%;
        }

        a {
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
</head>

<body>
    <center>
        <br><br>
        <h1>Sign In</h1>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.email.label }}<br>
                {{ form.email(size=32) }}
                {% for error in form.email.errors %}
            <div style="color: red;">[{{ error }}]</div>
            {% endfor %}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}
                {% for error in form.password.errors %}
            <div style="color: red;">[{{ error }}]</div>
            {% endfor %}
            </p>
            <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
            <p>{{ form.submit() }}</p>
        </form>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul class=flashes>
            {% for category, message in messages %}
            <h2 class="{{ category }}">{{ message }}</h2>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </center>
</body>