<html>

<head>
    <title>SNARKON: {{ aws_bucket }}</title>
    <!-- <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .success {
            background-color: green;
            color: white;
            padding: 10px;
            width: 50%;
        }

        .error {
            background-color: rgb(146, 7, 7);
            color: white;
            padding: 10px;
            width: 50%;
        }

        a {
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
</head>

<body>
    <center>
        <br>
        <h1>Welcome to snarkon</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul class=flashes>
            {% for category, message in messages %}
            <h2 class="{{ category }}">{{ message }}</h2>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <form action="" method="post" role="form" enctype="multipart/form-data">
            {{ form.csrf }}
            <div class="form-group">
                <label for="input_file">Upload File:</label>
                <input type="file" class="custom-file-label" id="input_file" name="input_file">
                <br><br>
                <label for="create_dir">Create a directory:</label>
                <input type="text" class="form-control" id="create_dir" name="create_dir">
                <br><br>
                <button type="submit" class="btn btn-success">Submit</button>
                <br><br>
            </div>
        </form>
    </center>
    {{ bucket_content|safe }}
</body>