<html>

<head>
    <title>BucketView: {{ aws_bucket }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        a {
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        .nav-path {
            font-size: large;
        }

        .folder-icon {
            color: black;
            margin-left: 2.5px;
            margin-right: 2.5px;
            padding: 0px;
            border-radius: 3px;
        }

        .file-icon {
            color: white;
            margin-left: 2.5px;
            margin-right: 2.5px;
            background-color: black;
            padding: 0px;
            border-radius: 3px;
        }
    </style>
</head>

<body>

    <input type="button" class="btn btn-primary btn-sm" onclick="location.href='{{ url_for('logout') }}';"
        value="Logout" style="margin-left: 15px; margin-top: 15px;" />
    <center>
        <table>
            <tr>
                {% for i in range(nav_len) %}
                <td style="text-align: center; padding-right: 6px; padding-left: 6px;">
                    <span class="folder-icon"><i class="far fa-folder"></i></span>
                    <a class="nav-path"
                        href={{ url_for('within_dir', dir_path="/" + "/".join(nav_parts[:i+1])) }}>{{ nav_parts[i] }}</a>
                </td>
                {% if nav_parts[i] != nav_parts[-1] %}
                <td class="nav-path" style="text-align: center">/</td>
                {% endif %}
                {% endfor %}
            </tr>
        </table>
        <br>
        <h1>BucketView: {{ aws_bucket }}</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul class=flashes>
            {% for category, message in messages %}
            {% if category == 'success' %}
            <div class="alert alert-success w-50" role="alert">{{ message }}</div>
            {% else %}
            <div class="alert alert-danger w-50" role="alert">{{ message }}</div>
            {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}


        <form class="form-inline justify-content-center" action="" method="post" role="form"
            enctype="multipart/form-data">
            {{ form.csrf }}
            <div class="form-group">
                <div class="d-flex flex-column">
                    <div class="custom-file m-2">
                        <input type="file" class="custom-file-input" id="input_file" name="input_file">
                        <label class="custom-file-label" for="input_file">Upload a file</label>
                    </div>
                    <label class="sr-only text-center m-2" for="create_dir">Create a directory</label>
                    <input type="text" class="form-control text-center m-2" id="create_dir" name="create_dir"
                        placeholder="Create a directory">
                    <button type="submit" class="btn btn-success m-2">Submit</button>
                </div>
            </div>
        </form>

        <table class="table table-striped" style="width:70%">
            <thead class="thead-dark">
                <tr>
                    <th style="text-align: left">Name</th>
                    <th style="text-align: left">Download Link</th>
                    <th style="text-align: left">Last Modified</th>
                    <th style="text-align: left">Size</th>
                </tr>
            </thead>
            {% for d in bucket_content %}
            <tr>
                {% if d['is_dir'] %}
                <td>
                    <span class="folder-icon"><i class="far fa-folder"></i></span>
                    <a href="{{ d['nav_url'] }}">{{ d['link_name'] }}</a>
                <td><a href="{{ d['download_url'] }}">Download Zip</a></td>
                </td>
                {% else %}
                <td>
                    <span class="file-icon"></span><i class="far fa-file"></i></span>
                    <span>{{ d['link_name'] }}</span>
                <td><a href="{{ d['download_url'] }}">Download File</a></td>
                </td>
                {% endif %}
                <td>{{ d['last_modified'] }}</td>
                <td>{{ d['size'] }}</td>
            </tr>
            {% endfor %}
        </table>
    </center>

</body>